@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html,
body {
  font-family: 'Roboto';
  margin: 0;
  font-size: 22px;
  font-weight: 100;
  text-align: center;
  line-height: 200%;
}

header {
  font-family: 'Roboto';
  color: white;
  padding: 250px 0;
  background-image: url('images/apple-pie.jpg');
  background-size: cover;
  background-position: center center;
}

h1 {
  font-family: 'Roboto';
  text-align: center;
  font-size: 64px;
  font-weight: lighter;
}

main {
  width: 640px;
  margin: 0 auto;
}

p {
  font-family: 'Roboto';
  margin: 0;
  font-size: 22px;
  font-weight: 100;
  text-align: center;
  line-height: 200%;
}

img {
  display: block; // make inline element behave like a block element
  margin: 32px auto;
}

ul {
  list-style-type: '- ';
  text-align: center;
}

ul,
ol {
  padding: 0;
}

ol li {
  list-style: none;
  counter-increment: item-index;
}

ol li:before {
  content: counter(item-index) ') ';
}

hr {
  color: grey;
}

content {
}
